@import "./ourbootstrap.scss";
@import "./sticky-footer.scss";

h1,
h2,
h3,
h4 {
    font-family: 'Neuzeit S LT W01 Book Heavy';
    color: rgba(244, 184, 64, 0.87)
}

.text-cener {
    text-align: center;
}

* {
    font-family: 'Neuzeit S LT W01 Book';
}