.mobile-banner,
.banner {
    background: url('/assets/img/top-background.jpg') no-repeat center;
    background-size: cover;

}

app-topsearchbar {
    width: 100%
}

.mobile-banner {

    min-height: 70vh;
}


@media only screen and (max-width: 676px) {
    .mobile-banner {
        background-position-x: -800px;
    }
}


.banner {

    min-height: 100vh;

    @media only screen and (max-width: 992px) {
        background: none;
    }

    @media only screen and (min-width: 992px) {

        .container {
            min-height: 100vh;
            flex-direction: column;
        }

        background: url('/assets/img/top-background.jpg') no-repeat center;
        background-size: cover;
    }



    @media only screen and (max-width: 992px) {
        .points__heading {
            text-align: center;
        }
    }


    .points {
        flex: 1;
        background: #EEF7F5;
        color: #6A7573;

        .icon {
            color: #6A9389
        }

        h2 {
            color: #6A7573;
        }
    }
}



.benefits {
    .icon {
        color: #f4b840
    }
}

.divider {
    height: 2px;
    background: #D0E3E2;
}

.services {
    h3 {
        font-size: 1rem;
        color: #797979
    }

    .list {
        display: flex;
        flex-wrap: wrap;

        div {
            min-width: 85px;
        }
    }
}