<div class="container text-center">
    <h1 class="py-5">
        Cool your jets
    </h1>

    <h3 class="pb-3">
        At the moment, we are in the discovery phase and are working hard to prepare everything necessary. Still, we are
        not quite ready just yet.
    </h3>

    <h3 class="pb-3">
        We are working hard to fine tune our product, and it would be of great help if you could answer these 5
        questions.
    </h3>

    <h3 class="pb-3">
        If you help us, you could win a 50% discount off any of the services we will be providing.
    </h3>

    <div class="row pb-5 pt-5">
        <div class=" col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <a class="btn btn-primary btn-block btn-lg" href="https://docs.google.com/forms/d/1ULvxN8bEEABbyR4xHRq1vP8EMhgFFtdh14Par-QkDTs/viewform">
                Take the 1 minute questionnaire
            </a>
        </div>
    </div>
</div>