<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a routerLink="/" class="navbar-brand mx-auto">
            <img src="/assets/img/medwell_care_logo.svg" class="lazy" width="231" alt="Med well care logo">
        </a>
    </div>
</nav>
<router-outlet></router-outlet>
<footer>
    <div class="container">
        <h2 class="text-cener pt-5 pb-3">
            Got question? Contact us
        </h2>

        <div class="row">
            <div class="col-sm-6 offset-sm-3" *ngIf="!isSent">
                <div class="row mb-2">
                    <div class="col-6">
                        <input type="text" [(ngModel)]="name" placeholder="Name..." class="form-control">
                    </div>
                    <div class="col-6">
                        <input type="text" [(ngModel)]="email" placeholder="Email..." class="form-control">
                    </div>
                </div>
                <textarea class="form-control" [(ngModel)]="message" placeholder="Your message..."></textarea>
                <div class="mt-2 text-center">
                    <button class="btn btn-primary" (click)="sendEmail()">
                        <span class="mr-2">
                            <i class="fal fa-paper-plane"></i>
                        </span>
                        Send
                    </button>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3"  *ngIf="isSent">
                <div class="text-center">
                    <span class="fa-stack fa-2x fa-fw">
                        <i class="fas fa-stack-2x fa-circle text-primary"></i>
                        <i class="fa-stack-1x fal fa-check"></i>
                    </span>
                </div>
                <div class="alert alert-success" role="alert">

                    <strong>
                        Message sent!
                    </strong> <br>
                    you are awesome, we will get back to you as soon as possible.
                </div>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-md-5">
                <div class="row pt-3">
                    <div class="col-sm-4">&copy; medwell.care 2019</div>
                    <div class="col-sm-4"> <a routerLink="/not-yet"> Help Center</a></div>
                    <div class="col-sm-4"><a routerLink="/not-yet">Services</a></div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/assets/img/medwell_care_logo_sign.svg" class="lazy" width="80" alt="Med well care logo">
            </div>

            <div class="col-md-5">
                <div class="row pt-3">
                    <div class="col-sm-4"><a routerLink="/not-yet">Privacy Policy</a></div>
                    <div class="col-sm-4"> <a routerLink="/not-yet">Terms of Service</a></div>
                    <div class="col-sm-4"><a routerLink="/not-yet">Facebook</a></div>
                </div>
            </div>
        </div>
    </div>



</footer>