<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/assets/img/medwell_care_logo.svg" class="lazy" width="231" alt="Med well care logo">
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/">Test</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#myorders" class="nav-item nav-link">Services</a>
                <a href="#myorders" class="nav-item nav-link">Popular destinations</a>
                <a href="#myorders" class="nav-item nav-link">Search</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>



<footer>
    <div class="container">
        <h2 class="text-cener pt-5 pb-3">
            Got question? Contact us
        </h2>

        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="row mb-2">
                    <div class="col-6">
                        <input type="text" placeholder="Name..." class="form-control">
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Email..." class="form-control">
                    </div>
                </div>
                <textarea class="form-control" placeholder="Your message..."></textarea>
                <div class="mt-2">
                    <button class="btn btn-primary">
                        <i class="fal fa-paper-plane"></i>
                        Send
                    </button>
                </div>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-5">
                <div class="row pt-3">
                    <div class="col-sm-4">&copy; medwell.care 2019</div>
                    <div class="col-sm-4"> <a href="/help"> Help Center</a></div>
                    <div class="col-sm-4"><a href="#">Services</a></div>
                </div>
            </div>
            <div class="col-2 text-center">
                <img src="/assets/img/medwell_care_logo_sign.svg" class="lazy" width="80" alt="Med well care logo">
            </div>

            <div class="col-5">
                <div class="row pt-3">
                    <div class="col-sm-4"><a href="/help">Privacy Policy</a></div>
                    <div class="col-sm-4"> <a href="/help">Terms of Service</a></div>
                    <div class="col-sm-4"><a href="#">Facebook</a></div>
                </div>
            </div>
        </div>
    </div>



</footer>