<div class="tagline d-flex">
    <div class="align-self-center text-center w-100">
        <h1 class="text-center mb-3">Medical travel was hard. Untill Now</h1>

        <div class="row">
            <div class=" col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="input-group input-group-lg">
                    <input type="text" placeholder="I am looking for..." class="form-control" aria-label="Large"
                        aria-describedby="inputGroup-sizing-sm">

                    <div class="input-group-append">
                        <button routerLink='/not-yet' class="btn btn-outline-primary" type="button"> <i
                                class="fal fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>